spring:
  application:
    name: backend

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: false
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQL8Dialect

  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration
    encoding: UTF-8

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${KEYCLOAK_ISSUER_URI:http://localhost:9003/realms/synq}

  data:
    redis:
      repositories:
        enabled: false

  servlet:
    multipart:
      max-file-size: 256MB
      max-request-size: 1GB

  webflux:
    multipart:
      max-in-memory-size: 256MB

keycloak:
  admin:
    server-url: ${KEYCLOAK_SERVER_URL}
    realm: ${KEYCLOAK_REALM}
    username: ${KEYCLOAK_ADMIN_USERNAME}
    password: ${KEYCLOAK_ADMIN_PASSWORD}
    client-id: ${KEYCLOAK_ADMIN_CLIENT_ID}
  user:
    default-password: ${KEYCLOAK_DEFAULT_PASSWORD}

eureka:
  client:
    enabled: false

springdoc:
  api-docs:
    path: /v1/api-docs
  swagger-ui:
    path: /v1/swagger-ui.html

management:
  endpoints:
    web:
      exposure:
        include: "*"
  health:
    probes:
      enabled: true